

.carousel-item img{
    width: 100%;
    height: 350px;
}

.about-single-item{
    transition: .5s;
}

.about-single-item:hover{
    background-color:rgb(46, 200, 188);
    color: aliceblue;
}
.about-single-item p:hover{
    color: aliceblue;
}

.breadcrumb{
    /* background: transparent; */
    padding-left: 0;
} 
/* team social icons */
.social-icon i{
    font-size: 20px;
}
.social-icon a{
    border: 1px solid #dddddd;
    color: #333333;
}
.social-icon a:hover{
    background-color: darkorange;
    color: #ffffff;
}



.service-item i{
    font-size: 30px;
    transition: .5s;
}

.service-item:hover i{
    margin-top: 20px;
    color: orange;
}

.sr{
    max-width: 50vh;
    max-height: 50vh;
}
.aa:hover{
    color:#563D7C;
}